torch >= 2.0.1
einops
numpy
pytest
omegaconf
tiktoken
tqdm
datasets
wandb
pandas
snorkel
spacy
scipy
nltk
hfapi #huggingface api 
requests
transformers 
altair 
huggingface_hub #huggingface platform 
datasets  
openai
langchain 
llamaapi
setuptools